.hero {
    padding: 0px 0px;

    .swiper {
        width: 100%;
        height: 750px;
        background: #ccc;
    }
    
    .swiper-slide {
        font-size: 18px;
        display: flex;
        background-image: url("./../../img/img-1.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        &:nth-child(2){
            background-image: url('./../../img/img-2.jpg');
        }
        &:nth-child(3){
            background-image: url('./../../img/img-3.jpg');
        }
        &:nth-child(4){
            background-image: url('./../../img/img-4.jpg');
        }

        .about {
            width: 50%;
            height: 300px;
            margin: 100px 50px;
            background: #79addeb5;
            border-radius: 10px;
            padding: 20px;

            h1 {
                letter-spacing: 1px;
            }
            p {
                letter-spacing: 1px;
            }
        }
    }
}
